<a href="https://colab.research.google.com/github/limaow/va-ia-atmosfera/blob/main/va_ia_atmosfera.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Verificação de Aprendizado - Inteligência Artificial

Nome: Matheus Reis de Lima

In [1]:
# Bibliotecas e manipulações

import pandas as pd
from pandas import read_csv
import plotly
import plotly.io as pio
import matplotlib.pyplot as plt
import numpy as np
from statsmodels.tsa.seasonal import seasonal_decompose

In [2]:
# Colocando os dados, que estão no github, na variável atmosfera para manipular

atmosfera = pd.read_csv("https://raw.githubusercontent.com/limaow/datasets/main/atmosfera.csv")

In [3]:
# Inicial da tabela

atmosfera.head(5)

             DATA temperatura umidade
0  1 de jan de 97        18,4   78,58
1  2 de jan de 97        17,4   77,63
2  3 de jan de 97        17,1   78,56
3  4 de jan de 97        16,6   85,52
4  5 de jan de 97        15,8   83,36

In [4]:
# Final da tabela

atmosfera.tail(5)

                DATA temperatura umidade
360  27 de dez de 97        21,2   69,42
361  28 de dez de 97        20,3   78,35
362  29 de dez de 97        19,2   75,47
363  30 de dez de 97        21,6   71,41
364  31 de dez de 97        19,8   79,94

In [5]:
# Excluindo as colunas desnecessárias para formação da matriz de conhecimento

atmosfera = atmosfera.drop(columns=['DATA', 'temperatura'])

In [6]:
# Aqui fica a "previsão" de dados pelo modelo com janela deslizante de razão 5

# Valores da coluna "umidade" em uma lista para manipular
valores = list(atmosfera.umidade)                                                         

tamanhoJanela = 5

# Executando uma lista de listas onde cada elemento será uma lista
# para armazenar os rótulos das colunas da janela deslizante                                                           
linhasJanela = []                                                                         
colunas = []                                                                              

for i in range(tamanhoJanela - 1):
    colunas.append(str(i + 1))

colunas.append("Valor esperado")

i = 0
# Estrutura While-not- para que a janela deslizante não consiga exibir 
# uma linha menor que seu tamanho

while not i + tamanhoJanela > len(valores) - 1:

# Lista que ira armazenar a linha da janela que será gerada                                          
    linhaI = []                                                                           

# Gerando linha da janela e salvando na lista linhaI criada acima
    for j in range(i, i + tamanhoJanela):                                                 
        linhaI.append(valores[j])

# Salvando a linha gerada em uma lista
    linhasJanela.append(linhaI)                                                           
    i = i + 1

# Transformando a lista de linhas em um array numpy np
linhasJanela = np.array(linhasJanela)

# Gerando e exibindo o DataFrame da janela deslizante
dataFrame = pd.DataFrame(data=linhasJanela, columns=colunas)                             
dataFrame

         1      2      3      4 Valor esperado
0    78,58  77,63  78,56  85,52          83,36
1    77,63  78,56  85,52  83,36           83,6
2    78,56  85,52  83,36   83,6          79,85
3    85,52  83,36   83,6  79,85          80,14
4    83,36   83,6  79,85  80,14           80,9
..     ...    ...    ...    ...            ...
355  69,47  64,53  82,92  83,12          77,15
356  64,53  82,92  83,12  77,15          69,42
357  82,92  83,12  77,15  69,42          78,35
358  83,12  77,15  69,42  78,35          75,47
359  77,15  69,42  78,35  75,47          71,41

[360 rows x 5 columns]